* text=auto eol=lf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.svg text eol=lf

*.csv text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yml text eol=lf

