.sidebar {

  /* position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 10;
  padding: 70px 0 0;
  justify-content: flex-start;
  display: flex; */
}
#sidebar-wrapper{
  min-height: 100vh !important;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  padding-left: 20px;
  padding-right: 0px;
  background: #15171c;
}
#sidebar-wrapper .sidebar-heading {
  /* padding: 0.875rem 1.25rem;
  font-size: 1.2rem; */
}

#page-content-wrapper {
  /* min-width: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px; */
}